<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.randybryanmoore.keepawake</string>
  <key>ProgramArguments</key>
  <array>
    <string>__KEEPWAKE_SH__</string>
    <string>run</string>
    <string>--bag</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__KEEPWAKE_DIR__</string>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/keepawake.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/keepawake.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
